/* CSS declarations go here */
html, body {
  max-height: 100vh;
  margin: 0;
}

.container {
  width: 60vw;
  height: 90vh;
  margin: 0 auto;
  float: center;
}

.chat-box {
  border: solid 2px black;
  overflow: auto;
  max-height: 60%;
  min-height: 50px;
  margin: auto;
}

.new-message {
  height: 20%;
}

input {
  width: 100%;
  height: 20px;
}

.error-msg {
  color: red;
}